<%- include("../partials/header") %>

<div class="container">
	<header class="jumbotron">
		<div>
			<h1>Welcome to YelpCamp!</h1>
			<p>View our hand-picked campgrounds from all over the world!</p>
			<p><a class="btn-primary btn-lg" href="/campground/new">Add New Campground</a></p>	
		</div>
	</header>

	<div class="row text-center">
		<% campground.forEach(function(cmpgnd){ %>
			<div class="col-md-3 col-sm-6">
				<div>
					<a class="thumbnail"><img src="<%= cmpgnd.img %>"></a>
					<div class="caption">
						<h4><%= cmpgnd.name %></h4>
					</div>
					<p>
						<a href="/campground/<%= cmpgnd._id %>" class="btn btn-primary">More Info</a>
					</p>
				</div>
			</div>
		<% }) %>
	</div>
</div>

<%- include("../partials/footer") %>